
람다식 기본 구조

In [5]:

#일반 함수
def add(a,b):
    return a + b

# 람다식 함수

addLambda = lambda a, b : a + b

print(addLambda(3, 5))

8

In [ ]:


조건부 논리 람다식

람다식은 하나의 표현식만 허용하기 때문에 if/else 구문 대신 삼항 연산자(결과_True if 조건 else 결과_False)를 사용해야 합니다.

In [11]:

# 결과가 짝수면 '짝수',  홀수면 '홀수' 반환

check = lambda x : '짝수' if x % 2 == 0 else '홀수'


print(check(10))
print(check(7))


# x y 비교도 가능
test = lambda x , y : 'true' if x > y else 'false' 

print(test(1,3))


# xy 비교뒤에 그대로 조건부에따라 그대로 리턴가능
test2 = lambda x , y : x if x > y else y 

print(test2(1,3))

짝수
홀수
false
3



람다식으로 반복문 사용하기

 - 반복문을 직접적으로 사용은 불가능 XXXX
 - 그러나 대안이 있음 : 리스트 컴프리헨션 (List Comprehension)

In [22]:

numbers = [1,2,3]

# 리스트컴프리헨션 사용가능
test1 = [x + 1 for x in numbers]

print(test1)


test2 = [x * x for x in numbers]
print(test2)


# 뒤에 if붙혀서 사용가능
test3 = [x for x in numbers if x % 2 == 0]
print(test3)

[2, 3, 4]
[1, 4, 9]
[2]


람다식 사용 예제 

람다식은 그 자체로 호출되기보다는, 주로 **map(), filter(), sorted()**와 같은 다른 함수의 인수로 사용되어 코드를 간결하게 만들 때 강력한 힘을 발휘합니다.

In [25]:
numbers = [1,2,3,4]

test = list(map(lambda x: x ** 2, numbers))

print(test)

[1, 4, 9, 16]

In [26]:
numbers = [1, 2, 3, 4, 5, 6]

# 홀수만 필터링하는 람다식 적용
test = list(filter(lambda x: x % 2 != 0, numbers))

print(test)

[1, 3, 5]

In [32]:
# 튜플 리스트 (이름, 점수)
students = [('김철수', 85), ('박영희', 92), ('이민수', 78)]

# 점수(튜플의 두 번째 요소, 인덱스 1)를 기준으로 정렬
sorted_by_score = sorted(students, key=lambda item: item[1], reverse=True)

print(f"sorted() 결과 (점수 기준): {sorted_by_score}")
# 출력: [('박영희', 92), ('김철수', 85), ('이민수', 78)]

sorted() 결과 (점수 기준): [('박영희', 92), ('김철수', 85), ('이민수', 78)]

In [35]:
# 튜플 리스트 (이름, 출생년도)
people = [('지수', 1995), ('제니', 1996), ('로제', 1997), ('리사', 1997)]

# 나이(출생년도가 낮은 사람부터)를 기준으로 정렬
# (출생년도가 같으면 이름(인덱스 0)으로 정렬)
sorted_by_age_and_name = sorted(people, key=lambda item: item[1])

print("\n3. 출생년도 & 이름 기준 정렬:")
print(sorted_by_age_and_name)
# 출력: [('지수', 1995), ('제니', 1996), ('리사', 1997), ('로제', 1997)]

3. 출생년도 & 이름 기준 정렬:
[('지수', 1995), ('제니', 1996), ('로제', 1997), ('리사', 1997)]